
@{
    ViewBag.Title = "aboutUs";
    Layout = "~/Views/Shared/_Web_Layout.cshtml";
}

<section id="wrapper">
    <aside id="notifications">
        <div class="notifications-container container">
        </div>
    </aside>
    <div class="container">
        <div data-depth="2" class="breadcrumb-bg center breadcrumb-full" style=" background-color:#f4f1eb;background-image: url(); min-height:65px; ">
            <div class="container">
                <nav data-depth="2" class="breadcrumb hidden-sm-down">
                    <ol>
                        <li>
                            <a href="../index.html"><span>Home</span></a>
                        </li>
                        <li>
                            <span>About us</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div id="content-wrapper" class="col-lg-12 col-xs-12 js-content-wrapper">
                <section id="main">
                    <header class="page-header">
                        <h1>
                            About us
                        </h1>
                    </header>
                    <section id="content" class="page-content page-cms page-cms-4">
                        <div class="container container-parent"></div> <div data-elementor-type="post" data-elementor-id="29" class="elementor elementor-29" data-elementor-settings="[]">
                            <div class="elementor-inner">
                                <div class="elementor-section-wrap">
                                    <section class="elementor-element elementor-element-c4b1524 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-inner-default elementor-section elementor-top-section" data-id="c4b1524" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-element elementor-element-bcba229 elementor-column elementor-col-33 elementor-top-column" data-id="bcba229" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-4c7c06c elementor-widget elementor-widget-heading" data-id="4c7c06c" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">EASY AND SIMPLE</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-62c7502 elementor-widget elementor-widget-heading" data-id="62c7502" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Take a Look at Our Profile</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-7bdd2ca elementor-widget elementor-widget-text-editor" data-id="7bdd2ca" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>Apparently we had reached a great height in the atmosphere, for the sky was a dead black and there a stars.</p></div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-581b9a8 btn_theme elementor-widget elementor-widget-button" data-id="581b9a8" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">Get a quote</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-8e2cc93 elementor-column elementor-col-33 elementor-top-column" data-id="8e2cc93" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-416a65d elementor-widget elementor-widget-image" data-id="416a65d" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="../../../../../cdn.shopify.com/s/files/1/0577/9675/5633/files/vt_oworganic_cms_about_173a2.jpg?v=1676862832" title="" alt="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-686efab elementor-column elementor-col-33 elementor-top-column" data-id="686efab" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-9fd0f10 elementor-widget elementor-widget-heading" data-id="9fd0f10" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Minimal Letta Theme for Fashion</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-59b3c77 elementor-widget elementor-widget-text-editor" data-id="59b3c77" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>With all his cruel ferocity and coldness there was an under of something in Tars Tarkas which he seemed ever battling to subdue. Could it be a of some human instinct come back</p></div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-41dbb9a elementor-widget elementor-widget-heading" data-id="41dbb9a" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Classical & Easy Customize</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-2f6d796 elementor-widget elementor-widget-text-editor" data-id="2f6d796" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>With all his cruel ferocity and coldness there was an under of something in Tars Tarkas which he seemed ever battling to subdue. Could it be a of some human instinct come back.</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="elementor-element elementor-element-7b3ad9e elementor-section-boxed elementor-section-height-default elementor-section-height-inner-default elementor-section elementor-top-section" data-id="7b3ad9e" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-element elementor-element-a207b42 elementor-column elementor-col-33 elementor-top-column" data-id="a207b42" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-333f450 elementor-widget elementor-widget-image" data-id="333f450" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="../../../../../cdn.shopify.com/s/files/1/0577/9675/5633/files/vt_oworganic_cms_about_358a4.jpg?v=1676863739" title="" alt="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-40b19c1 elementor-column elementor-col-33 elementor-top-column" data-id="40b19c1" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-92a6ed2 elementor-widget elementor-widget-image" data-id="92a6ed2" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="../../../../../cdn.shopify.com/s/files/1/0577/9675/5633/files/vt_oworganic_cms_about_458a4.jpg?v=1676863739" title="" alt="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-cad4905 elementor-column elementor-col-33 elementor-top-column" data-id="cad4905" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-290c723 elementor-widget elementor-widget-image" data-id="290c723" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="../../../../../cdn.shopify.com/s/files/1/0577/9675/5633/files/vt_oworganic_cms_about_558a4.jpg?v=1676863739" title="" alt="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="elementor-element elementor-element-f2b4793 elementor-section-height-min-height elementor-section-boxed elementor-section-height-inner-default elementor-section-items-middle elementor-section elementor-top-section" data-id="f2b4793" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-element elementor-element-c788c1b animated-fast elementor-invisible elementor-column elementor-col-33 elementor-top-column" data-id="c788c1b" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-93f3f94 elementor-position-left box_support_item elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="93f3f94" data-element_type="widget" data-widget_type="image-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img src="https://cdn.shopify.com/s/files/1/0577/9675/5633/files/vt_oworganic_svg1.svg?v=1671457744" title="" alt="" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">WORLDWIDE SHIPPING</h3><p class="elementor-image-box-description">Special financing and earn rewwards.</p></div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-ac5d6bf animated-fast elementor-invisible elementor-column elementor-col-33 elementor-top-column" data-id="ac5d6bf" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-2bf2522 elementor-position-left box_support_item elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="2bf2522" data-element_type="widget" data-widget_type="image-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img src="https://cdn.shopify.com/s/files/1/0577/9675/5633/files/vt_oworganic_svg2.svg?v=1671457744" title="" alt="" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">30 DAYS GUARANTEE</h3><p class="elementor-image-box-description">30-days free return policy.</p></div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2de2575 animated-fast elementor-invisible elementor-column elementor-col-33 elementor-top-column" data-id="2de2575" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-bbf6217 elementor-position-left box_support_item elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="bbf6217" data-element_type="widget" data-widget_type="image-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img src="https://cdn.shopify.com/s/files/1/0577/9675/5633/files/vt_oworganic_svg3.svg?v=1671457744" title="" alt="" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">SECURED PAYMENTS</h3><p class="elementor-image-box-description">We accept all majoi credit cards.</p></div></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="elementor-element elementor-element-2574d9f elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-inner-default elementor-section elementor-top-section" data-id="2574d9f" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-element elementor-element-f89064a elementor-column elementor-col-50 elementor-top-column" data-id="f89064a" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-e87291d elementor-widget elementor-widget-image" data-id="e87291d" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="../../../../../cdn.shopify.com/s/files/1/0577/9675/5633/files/vt_oworganic_cms_about_273a2.jpg?v=1676862832" title="" alt="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2237d51 elementor-column elementor-col-50 elementor-top-column" data-id="2237d51" data-element_type="column">
                                                    <div class="elementor-column-wrap  elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-348c793 elementor-widget elementor-widget-heading" data-id="348c793" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">PURPOSE</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-d70e13a elementor-widget elementor-widget-heading" data-id="d70e13a" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Our mission</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-258ecfe elementor-widget elementor-widget-text-editor" data-id="258ecfe" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>Most journeys start with a series of questions. For us they were: why are we paying so much for razors? Why are so many of us (a third of women to be exact) using men’s razors? Why can’t we find razors without animal ingredients in them? We were confused. The campaigns showing girls in white bikinis shaving already hairless legs didn’t have the answers were looking for. Our interviews with hundreds of women on their shaving and habits made it clear we weren’t alone. That was all needed to start going to the bottom with overlooked shaving glitch. All of that led to the birth of Estrid — a fierce and female-focused.</p></div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-dfc6bc8 btn_theme elementor-widget elementor-widget-button" data-id="dfc6bc8" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">Explore our products</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                    <footer class="page-footer">
                    </footer>
                </section>
            </div>
        </div>
    </div>
</section>

